body {
  background-image: url(../images/backgr.jpg)
}
.jumbotron {
  background-color: black;
  color: rgb(6,197,96);
  font-size: 45px;
  text-align: center;
  padding: 0px;
  border: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.container {
  margin-top: 0px;
  border: 0px;
}

div#alertDiv {
  background-color: rgba(248,150,112, 0.9);
  font-size: 20px;
  color: rgb(250,231,231);
  margin-bottom: 20px;
}

#map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

div.panel-heading#headingForFindMP {
  background-color: rgb(35,144,247);;
}

div.form-group.inputs {
  margin-right: 20px;
  margin-top: 0px;
}

div.panel.panel-primary#panel-weather {
  text-align: center;
  background-color: rgba(255,255,255, 0.6);
  visibility: hidden;
}
div.panel.panel-primary#inputPanelBody {
  background-color: rgba(255,255,255, 0.6)
}

#weather_panel_heading {
  background-color: rgba(6,197,96, 0.8);
}

#city-temperature {
  margin-left: 30px;
  float: left;
  width: 20%;
  font-size: 30px;
}

#city-temperature-h3 {
  font-size: 30px;
  float: left;
}

#weather-icon {
  margin-top: 10px;
  width: 20%;
  float: left;
}

.info-about-route {
  font-size: 20px;
  text-align: center;
  background-color: rgba(255,255,255, 0.6)
}

#city-name-h3 {
  margin-top: 30px;
  font-size: 18px;
  float: left;
}

div#adress-mid-point {
  font-size: 35px;
  text-align: center;
  color: #357db5;
  background-color: rgba(255,255,255, 0.6);
}



div.panel.panel-primary#panel-lists {
  margin-top: 0px;
  text-align: left;
  border-style: none;
  border: 0px;
  margin-right: 0px;
  background-color: rgba(255,255,255, 0.0)
  /* width: 600px; */
}

button.btn.btn-info {
  background-color: rgb(35,144,247);
  width: 185px;
  margin-top: 3px;
}
