#map {
  width: 100%;
  height: 400px;
}

div#containerForm.container {

}

div.form-group.inputs {
  margin-right: 20px;
  margin-top: 20px;
}
div.panel.panel-primary#panel-weaher {
  margin-top: 20px;
}

#weather_panel_heading {
  background-color: rgb(6,197,96);
}

#city-temperature{
  float: left;
  width: 40%;
  font-size: 40px;
}

#city-temperature-h3{
  font-size: 40px;
  float: left;
}

#weather-icon {
  width: 20%;
  float: left;
}
.info-about-route {
  font-size: 30px;
}
#city-name-h3 {
  float: left;
}
